@import "../placeholders/layout.scss";
@import "../variables/colors.scss";
@import "../variables/font.scss";
@import "../variables/sizes.scss";

.container {
  @extend %flex;
  @extend %flex-nowrap;
  justify-content: center;
  align-items: flex-start;
}

.contentContainer {
  width: 70%;
  max-width: 768px;
  min-width: 320px;
  text-align: center;
  padding: 25px 20px;
}

.meta {
  @extend %flex;
  @extend %flex-centered;
  padding-top: 5px;
  padding-bottom: 14px;
  color: $light-gray;
  font-size: $font-smaller;
}

.separator {
  margin: 0 10px;
}

.content {
  text-align: justify;
}
.content > p {
  margin: 18px 0;
}

.likesContainer {
  position: -webkit-sticky;
  position: sticky;
  width: 60px;
  top: 0;
  padding: 5px;
  flex-direction: column;
  height: calc(100vh - 70px);
  @extend %flex;
  @extend %flex-centered;
}

.likeButton {
  @extend %flex;
  @extend %flex-centered;
  @extend %flex-nowrap;
}

.commentIcon {
  padding-top: 30px;
  width: 50%;
}

@media only screen and (max-width: 768px) {
  .contentContainer {
    width: 100%;
    padding: 25px 15px;
  }
  .likesContainer {
    flex-direction: row;
    justify-content: space-around;
    background-color: $orangish-white;
    position: fixed;
    width: 100%;
    height: $mobile-bottom-bar-height;
    top: unset;
    bottom: 0;
    padding: 8px 0;
  }
  .commentIcon {
    padding-top: 0;
  }
}
