@import "../placeholders/layout.scss";
@import "../variables/colors.scss";
@import "../variables/font.scss";
@import "../variables/sizes.scss";

.container {
  @extend %flex;
  @extend %flex-nowrap;
  justify-content: center;
  align-items: flex-start;
  font-family: $font-family-newsreader;
}

.contentContainer {
  width: 70%;
  max-width: 768px;
  min-width: 320px;
  text-align: center;
  padding: 25px 20px;
  background-color: white;
  background: $glass;
  border-radius: 1%;
  margin-top: 60px;
  margin-bottom: 30px;
  box-shadow: 0 -1px 2px 1px $soft-shadow-color;
  backdrop-filter: blur(3px);
}

.title {
  font-family: $font-family-montserrat;
  font-size: $font-title;
  font-weight: $font-dark;
}

.meta {
  @extend %flex;
  @extend %flex-centered;
  padding-top: 5px;
  padding-bottom: 14px;
  color: $dark-gray;
  font-size: $font-default;
}

.separator {
  margin: 0 10px;
}

.content {
  text-align: justify;
  font-size: $font-default;
  line-height: 26px;
}
.content > p {
  margin: 18px 0;
}

.likesContainer {
  position: -webkit-sticky;
  position: sticky;
  width: 60px;
  top: 0;
  padding: 5px;
  flex-direction: column;
  height: calc(100vh - 70px);
  z-index: 3;
  @extend %flex;
  @extend %flex-centered;
  font-family: $font-family-montserrat;
}

.likeButton {
  @extend %flex;
  @extend %flex-centered;
  width: 50%;
}

.commentIcon {
  @extend %flex;
  @extend %flex-centered;
  padding-top: 30px;
  width: 50%;
}

@media only screen and (max-width: 768px) {
  .contentContainer {
    width: 100%;
    padding: 25px 15px;
  }
  .likesContainer {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: $orangish-white;
    position: fixed;
    width: 100%;
    height: $mobile-bottom-bar-height;
    top: unset;
    bottom: 0;
    padding: 8px 0;
  }
  .commentIcon {
    padding-top: 0;
  }
}
