$primary: #ff9900;
$navbar-shadow-color: #912d00;
$button-shadow-color: #ff9900;
$orangish-white: #ffe9d1;

// Font colors
$light-gray: gray;
$white: white;
$dark-gray: #2e262c;

// Shadow & border colours
$soft-shadow-color: #d2d2d2;
