// Font sizes
$font-larger: 24px;
$font-large: 22px;
$font-default: 20px;
$font-small: 18px;
$font-smaller: 16px;
$font-smallest: 12px;

// Font weights
$font-darker: 600;
$font-dark: 500;
$font-normal: 400;
$font-light: 300;
$font-lighter: 200;
