@use "../variables/colors.scss" as *;
@use "../variables/sizes.scss" as *;
@use "../variables/font.scss" as *;
@use "../placeholders/layout.scss" as *;

.container {
  @extend %flex;
  @extend %flex-centered;
  width: 100%;
  background: $primary-gradient;
  height: $navbar-height-default;
  color: $white;
  font-size: $font-small;
  font-family: $font-family-montserrat;
}

@media only screen and (max-width: 768px) {
  .container {
    height: $navbar-height-small;
  }
}
