@import "../variables/colors.scss";
@import "../variables/font.scss";
@import "../placeholders/layout.scss";

.container {
  @extend %flex;
  @extend %flex-wrap-reverse;
  box-shadow: 0px 0px 10px 0px rgb(223, 223, 223);
  width: 92%;
  height: 450px;
  margin: auto;
  overflow: hidden;
  border-radius: 2%;
  margin-top: 120px;
  backdrop-filter: blur(3px);
  background: $glass;
}

.about {
  width: 40%;
  @extend %flex;
  @extend %flex-centered;
  padding: 2%;
  text-align: justify;
}

.title {
  font-family: "Staatliches", cursive;
  font-size: 50px;
  font-weight: $font-light;
  margin-bottom: 12px;
}
.content {
  font-family: $font-family-newsreader;
  font-size: 20px;
  padding: 0 14px;
  line-height: 22px;
}

.imageContainer {
  width: 60%;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
  .imageContainer {
    width: 100%;
  }
  .about {
    width: 100%;
  }
}
