@import "../variables/font.scss";

.container {
  width: 100%;
}

.heroImage {
  position: relative;
  height: 450px;
  overflow: hidden;
  z-index: -1;
}

.caption {
  width: 100%;
  font-size: $font-smaller;
  font-weight: $font-normal;
  text-align: center;
}
