@import "../variables/colors.scss";
@import "../variables/spacing.scss";
@import "../variables/font.scss";
@import "../variables/sizes.scss";
@import "../placeholders/layout.scss";

.container {
  @extend %flex;
  @extend %flex-space-between;
  @extend %flex-nowrap;
  width: 100%;
  height: $navbar-height-default;
  background: $primary-gradient;
  color: $primary-text;
  padding: 0 $padding-default;
  box-shadow: 0 2px 15px 1px $navbar-shadow-color;
}

.navmenu {
  @extend %flex;
  @extend %flex-nowrap;
  @extend %flex-space-around;
  max-width: 400px;
}

.logo {
  @extend %flex;
  @extend %flex-centered;
  width: 8%;
  max-width: $navbar-height-default;
  height: 100%;

  &:hover {
    cursor: pointer;
  }
}

.btnNav {
  @extend %flex;
  text-align: center;
  width: 160px;
  height: $navbar-height-default;
  padding: $padding-default;
  margin: 0;
  font-size: $font-default;
  font-weight: $font-darker;
  transition: 0.2s ease-in;

  & a {
    width: 100%;
    color: inherit;
    text-decoration: none;
  }
  &:hover {
    font-size: $font-default + 1;
    cursor: pointer;
  }
}

@media only screen and (max-width: 768px) {
  .container,
  .btnNav {
    height: $navbar-height-small;
  }
  .container {
    padding: 0 $padding-small;
  }
  .btnNav {
    width: 100px;
    padding: 0;
  }
  .logo {
    max-width: $navbar-height-small;
  }
}
