@import '../variables/colors.scss';
@import '../variables/spacing.scss';
@import '../variables/font.scss';
@import '../variables/sizes.scss';
@import '../placeholders/layout.scss';

.container {
  @extend %flex;
  @extend %flex-space-between;
  @extend %flex-nowrap;
  width: 100%;
  height: $navbar-height;
  background-color: $primary;
  padding: 0 $padding-default;
  box-shadow: 0 2px 10px 1px $primary-shadow-color;
}

.navmenu {
  @extend %flex;
  @extend %flex-nowrap;
  @extend %flex-space-around;
  width: 60%;
  max-width: 200px;
}

.logo {
  @extend %flex;
  @extend %flex-centered;
  width: 8%;
  max-width: $navbar-height;
  height: 100%;

  &:hover {
    cursor: pointer;
  }
}

.btnNav {
  @extend %flex;
  height: $navbar-height;
  padding: $padding-default;
  margin: 0;
  font-size: $font-default;
  font-weight: $font-darker;
  transition: 0.2s ease-in;

  & a {
    color: inherit;
    text-decoration: none;
  }
  &:hover {
    font-size: $font-default + 1;
    cursor: pointer;
  }
}
