@import "../variables/colors.scss";

.container {
  position: relative;
  margin: auto;
  top: -140px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  box-shadow: 0px 1px 10px 1px $dark-gray;
}

.image {
  border-radius: 50%;
}
